<ion-view title="BMI Calculator">

    <ion-content class="padding">
        <h1>BMI Calculator</h1>

        <h1>Body Mass Index Calculator</h1>

        <!----JAVASCRIPT CALCULATOR--------->

       <!-------- <p>Enter your height:
            <input type="text" id="height" />
            <select type="multiple" id="heightunits">
                <option value="metres" selected="selected">metres</option>
                <option value="inches">inches</option>
            </select>
        </p>
        <p>Enter your weight:
            <input type="text" id="weight" />
            <select type="multiple" id="weightunits">
                <option value="kg" selected="selected">kilograms</option>
                <option value="lb">pounds</option>
            </select>
        </p>
        <input type="button" value="computeBMI" onclick="computeBMI()"/>
        <h1>Your BMI is: <span id="output">?</span></h1>

        <h2>This means you are: value = <span id='comment'></span> </h2>
--->


        <!--------New Calculator--------->

        <div ng-controller="bmiCtrl">

            <div class="list card">

                <div class="col-md-12">
                    <label class="item item-input">BMI Calculator</label>


                    <label class="item item-input">
                                <label for="weight">Weight (lb):</label>
                                <input type="number" ng-model="weight_lb"
                                       id="weight"
                                       placeholder="weight in lb" class="form-control">
                           </label>

                    <label class="item item-input">
                                <label for="weight_foot">Height (foot):</label>
                                <input type="number" ng-model="height_foot"
                                       id="weight_foot"
                                       placeholder="height in foot" class="form-control">
                           </label>

                    <label class="item item-input">
                                <label for="height_inch">Height (inch):</label>
                                <input type="number" ng-model="height_inch"
                                       id="height_inch"
                                       placeholder="height in inch" class="form-control">
                           </label>


                    <!-- Calculated BMI is shown here -->

                    <div class="well text-center">
                        <h3 class="text-muted">Calculated BMI</h3>
                        <h2><span class="label label-{{catClass}}" title="{{catTitle}}">{{bmi | number:1}}</span></h2>
                        <h4 class="text-muted">{{catTitle}}</h4>
                    </div>


                </div>

        </div>
  </div>

    </ion-content>
</ion-view>